<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <title>Cooking Preparations</title>
  </head>
  <body class="boRecipe">
      <form action="/prepStep/<%=prepStep.prepId%>/<%=prepStep.id%>?_method=PUT" method="POST">
          <div class="setReceta2">
            <div class=.recItem2>
              <input class="fRecipe" type="hidden"  id="id" name="id" value="<%=prepStep.id%>" />
            </div>
            <div class=.recItem2>
              <a class= "lRecipe"><%=prepStep.Step.description%></a>
            </div>
            <div class=.recItem2>
            <input class="fRecipe" type="hidden" id="prepId" name="prepId" value="<%=prepStep.prepId%>" />
            </div>
            <div class=.recItem2>
            <input class="fRecipe" type="hidden" id="stepId" name="stepId" value="<%=prepStep.stepId%>" /> 
            </div>
            <div class=.recItem2>
            <label class="lRecipe" for="unit">Done</label>
            <input class="fRecipe" type="checkbox" id="checked" name="checked" onchange="setValue()"  value="<%=prepStep.checked%>"/>
            </div>
            <div class=.recItem2>
              <label class="lRecipe" for="comments">Comments:</label>
              <textarea class="fRecipe" id="comments" name="comments" rows="3" cols="100">
                <%=prepStep.comments%>
              </textarea>
            </div>
            <div class=.recItem2>
            <input id="butt" class="fRecipe" type="hidden" name="" value="Submit Changes" />
            <button type="submit" name="actualiza" value="Submit Changes" class="fRecipe">
                Save Changes
            </button>
          </div>
        </div>
      </form>
      <script>
        function setValue() {
           const myButton = document.querySelector('#checked');
            if ( myButton.checked ) {
              myButton.value = true;
            } else {
              myButton.value = false;
            }
        }

        function startCheck() {
           const myButton = document.querySelector('#checked');
           console.log(myButton.value);
            if ( myButton.value == true || myButton.value == 'true' ) {
              myButton.checked = true;
            } else {
              myButton.checked = false;
            }
        }
        startCheck();
    </script>
  </body>
</html>
