<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <title>Cooking Preparations</title>
  </head>
  <body class="boRecipe">
      <form action="/step/<%=recipe.id%>/<%=step.id%>?_method=PUT" method="POST">
          <div class="setReceta">
            <div class=recItem>
              <input class="fRecipe" type="hidden"  id="recipeId" name="recipeId" value="<%=recipe.id%>" />
            </div>
            <div class=recItem>
            <label class="lRecipe" for="description">Description:</label>
            <textarea class="fRecipe" id="description" name="description" rows="3" cols="100">
              <%=step.description%>
            </textarea>
            </div>
            <div class=recItem>
            <input id="butt" class="fRecipe" type="hidden" name="actualiza" value="Submit Changes" />
            <br/>
            <button type="submit" name="actualiza" value="Submit Changes" class="fRecipe">
                  Update
            </button>
          </div>
        </div>
      </form>
      <form action="/step/<%=recipe.id%>/<%=step.id%>?_method=DELETE" method="POST">
        <input class="fRecipe" type="hidden" value="DELETE"/>
        <button type="submit" name="borra" value="DELETE" class="fRecipe">
            Delete
        </button>
      </form>
  </body>
</html>
