<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <title>Cooking Preparations</title>
  </head>
  <body class="boLogin">
    <div class="main">
     <div class="divs" id="headDivMain">
        <div class="hdivs">
            <h1 class="header">Cooking Preparations</h1>
            <h5 class="welmes">This site was created to help people to plan their recipes and help them with the preparation.</h5>
            <h1 class="header2">Recipe</h1>
        </div>
        <div class="hdivs" id="proSingOut">
            <nav class="tagsCont">
                <div class="tags"><a href="/users/profile/<%=user.id%>">Profile</a></div>
                <div class="tags"><a href="/auth/logout">Sign Out</a></div>
            </nav>
        </div>
     </div>
     <div class="divs" id="divRecipes">
       <div class="framesCont">
        <nav class="tagsCont">
          <div id="frames">
            <button class="mySaveUpd" onclick="createIng()">New Ingredient</button>
            <br/>
            <button class="mySaveUpd" onclick="createStep()">New Step</button>
          </div>
          <div class="tags"><a href="/main/<%=user.id%>/recipeMenu">Back</a></div>
        </nav>
        <div class="frames">
          <form class="Nueva" action="/recipe/<%=user.id%>/edit/<%=recipe.id%>?_method=DELETE" method="POST" >
            <a class="mySaveUpd" href="/main/<%=user.id%>/recipeEditAdd/<%=recipe.id%>">Refresh</a>
            <input class="fRecipe" type="hidden" value="DELETE"/>
            <button class="mySaveUpd" type="submit" name="borra" value="DELETE">
                 Delete the Entire Recipe
            </button>
          </form>
          <br/>
          <iframe src="/recipe/<%=user.id%>/edit/<%=recipe.id%>" height="60" width="900" style="border:1px solid teal;"></iframe>
          <% recipe.Ingredients.forEach((ingredient) => { %>
              <iframe src="/ingre/<%=recipe.id%>/<%=ingredient.id%>" height="60" width="900" style="border:none;"></iframe>            
          <% }); %>
          <% console.log(step.id); recipe.Steps.forEach((step) => { %>
            <iframe src="/step/<%=recipe.id%>/<%=step.id%>" height="100" width="900" style="border:none;"></iframe>            
          <% }); %>
        </div>
      </div>
     </div>
      <div class="divs" id="goodbye"> 
           <p>Thanks for checking our website :)</p>
      </div>
    </div>
    <script>
      function createIng() {
        let myFrame = document.createElement('iframe');
        const myDiv =  document.querySelector('.frames');
        myFrame.setAttribute('src', '/ingre/<%=recipe.id%>/new/');
        myFrame.setAttribute('height', '60');
        myFrame.setAttribute('width', '900');
        myFrame.setAttribute('style', 'border:5px solid black;');

        myFrame.addEventListener("click", removeFrame);
        myDiv.appendChild(myFrame); 
      }

      function createStep() {
        let myFrame = document.createElement('iframe');
        const myDiv =  document.querySelector('.frames');
        myFrame.setAttribute('src', '/step/<%=recipe.id%>/new/');
        myFrame.setAttribute('height', '100');
        myFrame.setAttribute('width', '900');
        myFrame.setAttribute('style', 'border:5px solid black;');

        myFrame.addEventListener("click", removeFrame);
        myDiv.appendChild(myFrame); 
      }

      function removeFrame() {
          event.preventDefault();
          this.parentNode.removeChild(this)
      }
    </script> 
  </body>
</html>
