<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <title>Cooking Preparations Profile Page</title>
  </head>

  <body class="boLogin">
    <div class="main">
      <div class="divs" id="headDiv">
    <h1 class="header" >Cooking Preparation</h1>
    <h1 class="header2"><%= user.name %> Profile Page </h1>
  </div>
  <div class="divs" id="centraldiv">
    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=user.name%>" /><br />
      <br />
      Username:
      <input type="text" name="username" value="<%=user.username%>" />
      <br />
      <br />
      Password:
      <input type="text" name="password" value="<%=user.password%>" /><br />
      <br />
      <input type="submit" value="Edit Profile" />
    </form>
    <br />
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete User" />
    </form>

    <br /><br />
    <a href="/">Back to Homepage</a>
  </div>
  <div class="divs" id="goodbye">
      <p>Thanks for checking our website :)</p>
  </div>
</div>
  </body>
</html>
