<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <title>Cooking Preparations Profile Page</title>
  </head>

  <body class="boLogin">
    <div class="main">
      <div class="divs" id="headDiv">
    <h1 class="header" >Cooking Preparations</h1>
    <h5 class="welmes">This site was created to help people to plan their recipes and help them with the preparation.</h5>
    <h1 class="header2"><%= user.name.toUpperCase(); %> Profile Page </h1>
  </div>
  <div class="divs" id="centraldivcenter">
    <div class="fSet">
    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
        <label class="etiquetas" for="name">Name:</label>
        <input class="campos" type="text" name="name" value="<%=user.name%>" />
        <label class="etiquetas" for="username">Username:</label>
        <input class="campos" type="text" name="username" value="<%=user.username%>" />
        <label class="etiquetas" for="username">Password:</label>
        <input class="campos" type="password" name="password" value="<%=user.password%>" />
        <br/><br/>
        <input class="campos" type="submit" value="Edit Profile" />
     </form>
     <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
         <br/>
         <input class="campos" type="submit" value="Delete User" />
         <br/><br/>
         <a class="normaltag" href="/">Back to Homepage</a>
      </form>
    </div>

  </div>
  <div class="divs" id="goodbye">
      <p>Thanks for checking our website :)</p>
  </div>
</div>
  </body>
</html>
